<div><h1>Popular destinations</h1>
<ul>
    <li>
        <!-- <a href="#"> -->
            European Adventure<br><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6YuhZ1q_tYrHqZJ_zAPAsXn1IauAHNpAaeQ&usqp=CAU"/>

        <!-- </a> -->
    </li>
    <li>
        <!-- <a href="#"> -->
            South American Excursion<br><br>
            <img src="https://www.travelandleisure.com/thmb/-RvEPqLC3CSkJrQbZa5YX9dzmX8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/brazil-amazon-river-cruise-SATRIPS0519-03ed718a483b458dbd926a37b50483b8.jpg"/>

        <!-- </a> -->
    </li>
    <li>
        <!-- <a href="#"> -->
            African Safari<br><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVdK4gn9q11QugmAqB-kCTl6Oo9iKAvcgLjQ&usqp=CAU"/>
        <!-- </a> -->
    </li>
</ul>
</div>
    